SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=
PRIMARY_USER = 
SECONDARY_USER =
TODO_CANVAS_ID =
TODO_SECTION_ID =
PROJECT_CANVAS_ID =
PROJECT_SECTION_ID =

# optional (only if you're using easter egg module)
#  |
#  v
GROQ_API_KEY= 
